@import url("https://fonts.googleapis.com/css?family=Fredoka+One");

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.popup-content  {
  border-radius: 5px !important;
  padding: 4vh !important;
}

.rbc-toolbar-label {
  margin-left: 11vh;
}

.sign-in-form {
  margin-bottom: 2%;
}

.sign-in-entry {
  border-radius: 5px;
  height: 32px;
  border-width: 1px;
  width: 20%;
  font-size: 13px;
}

.sign-up-form {
  margin-bottom: 2%;
}

.sign-up-entry {
  border-radius: 5px;
  height: 32px;
  border-width: 1px;
  width: 20%;
  font-size: 13px;
}

.custom-button {
  border-radius: 10px;
  border-width: 3px;
  color: white;
  background-color: #3173AF;
  height: 32px;
  width: 10%;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.custom-button:disabled {
  background-color: #cccccc;
  color: #666666;
}

.menu {
  float: left;
}

.new-shift-label {
  font-weight: 700;
}

.popup-title {
  text-align: center;
  font-family: 'Fredoka One', cursive;
  font-size: 3vh;
}

.rbc-calendar {
  min-width: 1212px;
}

.shift-info {
  display: inline-block;
  margin-bottom: 1vh;
}

.shift-info-label {
  float: left;
  width: 30vh;
  margin-left: 20vh;
  font-weight: 700;
}

.shift-info-entry {
  float: left;
}

aside#welcome-text {
  float: left;
}

aside#welcome-buttons {
  float: right;
}

button#approve-swap-button {
  float: right;
  width: 20vh;
  margin-left: 1vh;
}

button#decline-swap-button {
  float: right;
  width: 20vh;
  margin-left: 1vh;
}

button#confirm-swap-request-form {
  width: 20vh;
  margin-top: 5vh;
}

button#new-shift-submit {
  width: 20vh;
  margin-top: 5vh;
}

button#add-shift-button {
  margin-right: 1vh;
  float: right;
  width: 15vh;
}

button#notifications-button {
  margin-right: 1vh;
  float: right;
  width: 27.5vh;
}

button#sign-out-button {
  margin-right: 1vh;
  float: right;
  width: 15vh;
}

button#sign-up-button {
  text-align: center;
}

button#sign-in-submit {
  margin-top: 2%;
}

button#toggle-popup-content {
  width: 30vh;
}

div#new-shift-form {
  text-align: center;
}

div#notification-box {
  padding: 5px;
  display: block;

}

div#sign-up-page {
  text-align: center;
}

div#sign-in-page {
  text-align: center;
}

form#request-swap-form {
  display: block;
  text-align: center;
}

h1#index-title-text {
  color: #3173AF;
  font-family: 'Fredoka One', cursive;
  font-size: 7vh;
  position: relative;
}

h1#title {
  color: #3173AF;
  font-family: 'Fredoka One', cursive;
  font-size: 7vh;
  text-align: center;
}

h2#welcome-name {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  padding-left: 1vh;
  color: #3173AF;
  float: left;
}

h3#welcome-organisation {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  padding-left: 1vh;
  color: #3173AF;
  float: left;
}

section#index-title {
  text-align: center;
}

section#toggle-popup-state {
  text-align: center;
}

section#welcome {
  text-align: center;
  display: block;
  margin-bottom: 3%;
}
